<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod delectus
        quaerat atque consequuntur? Illo itaque quos accusantium. Veritatis
        blanditiis dolorem molestias possimus hic, delectus deserunt at minus
        maiores dolores praesentium eveniet reprehenderit ab esse necessitatibus
        accusamus vel illo! Blanditiis adipisci eius sit quisquam eaque qui
        voluptas non! Eos, laudantium ipsam!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod delectus
        quaerat atque consequuntur? Illo itaque quos accusantium. Veritatis
        blanditiis dolorem molestias possimus hic, delectus deserunt at minus
        maiores dolores praesentium eveniet reprehenderit ab esse necessitatibus
        accusamus vel illo! Blanditiis adipisci eius sit quisquam eaque qui
        voluptas non! Eos, laudantium ipsam!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa officia
        numquam totam, quidem sint natus deleniti pariatur? Ratione delectus
        illo accusamus assumenda, soluta possimus non velit deserunt illum nihil
        atque porro voluptatum molestias eveniet obcaecati, laborum nemo.
        Adipisci, omnis animi, sequi est sit necessitatibus autem, tempore
        voluptatibus vitae at culpa.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
